@import 'global.css';
@import 'normalize.css';
@import 'simplebar.css';
@import 'product.css';
/* @import 'products-grid.css'; */
.page__body {
    margin: 0;
    padding: 0;
    min-height: 2000px;
    overflow-x: hidden;
  }

/* header */
.header {
    background-color: #fff;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
	display: block;
	
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
	gap: 10px;
}


.nav__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	text-align: right;
	color: #323941;
	transition: all 0.3s ease-in-out;
}
.nav__link:hover {
	text-decoration: underline;
}
.header__icon {

}
.icon-header {
	display: flex;
	align-items: center;
	gap: 20px;
	order: 2;
}
.icon-header__item {
	cursor: pointer;
}
/* burger */
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #323941;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}
.burger--active .burger__line {
    opacity: 0;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}
.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}
.stop-scroll {
    overflow: hidden;
}

@media (max-width: 767.98px) {

    .burger {
        display: block;
      }
    
      .nav {
		--header-height: 49px;
        position: fixed;
        left: 0;
        top: var(--header-height);
        z-index: 50;
        overflow-y: auto;
        padding: 30px 0;
        width: 100%;
        /* max-width: 300px; */
        height: calc(100vh - var(--header-height));
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
      }
    
      .nav--visible {
        transform: none;
      }
    
      .nav__list {
        flex-direction: column;
      }
    
      .nav__item {
       
      }
    
      .nav__item:not(:last-child) {
        margin-right: 0;
      }
    
      .nav__link {
        display: inline-block;
        width: 100%;
        padding: 20px 30px;
        border-bottom: 1px solid var(--second-text);
        font-size: 20px;
      }

	  /*  */
	  .header__logo {
		display: block;
	  }
}

/* tabs-products */
.get-started {
	position: relative;
}
.get-started__container {
	position: relative;
}
.get-started__products {

}


.tabs-swiper {

}
.tabs-swiper-wrapper {
	display: flex;

}
.tabs-swiper-slide {

}
.tabs-slide__arrows {
	position: absolute;
    top: 75px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tabs-slide__arrow.swiper-button-prev,
.tabs-slide__arrow.swiper-button-next {
    position: static;
    width: 10px;
    height: 30px;
    background: url(../img/tabs-arrow.png) no-repeat;
}
.tabs-slide__arrow::after {
    display: none;
}
.tabs-slide__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}
.tabs-swiper-button-prev {
	
}
.tabs-swiper-button-next {

}

.products-tabs {

}
.get-started::before {
	content: "";
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #323941;
}
.products-tabs__btn {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	max-width: 160px;
	width: 100%;
	min-height: 130px;
	padding: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #999;
    background-color: #323941;
    font-family: 'Jost', sans-serif;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.products-tabs__btn:hover {
	cursor: pointer;
	color: #fff;
	background-color: #009EFF;
}
.products-tabs__btn.active {
    color: #fff;
	background-color: #009EFF;
}
.products-tabs__title {
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.delivery__text {
	padding: 10px 0;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	background-color: #009EFF;
}
.products-tabs__content {
   
}
.products-tabs__item {
    display: none;
}
.products-tabs__item.active {
    display: flex;
}

/* cart */
.cart {
	position: relative;
	padding: 13px 0px;
	transition: background-color 0.3s;
}

.cart.active:hover {
	cursor: pointer;
	background: rgba(93, 113, 221, 0.1);
	transition: background-color 0.3s;
}

/* .header__cart {
	margin-left: 40px;
} */

.cart__quantity {
	position: absolute;
	right: -6px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -10px;
	background-color: #009EFF;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.cart-content {
	z-index: 50;

	cursor: default;
	width: 490px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	opacity: 1;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__list {
	max-height: 330px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 12px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
}

.cart-product:hover {
	background: rgba(93, 113, 221, 0.1);
	transition: background-color 0.3s;
}

.cart-product__img {
	margin-right: 20px;
	max-width: 65px;
	max-height: 100px;
	object-fit: cover;
}
.cart-product__text {
	width: 170px;
}
.cart-product__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	margin-bottom: 18px;
}

.cart-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-product__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("../img/trash\ 1.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
}

.cart-content__bottom {
	padding: 20px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
}

.fullprice {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-content__btn {
	display: inline-block;
	width: 246px;
	text-align: center;
}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}
@media (max-width: 767.98px) {
	.cart-content {
		width: 400px;
		right: -10px;
	}
}
@media (max-width: 479.98px) {
	.cart-content {
		right: -86px;
	}
}
@media (max-width: 399.98px) {
	.cart-content {
		max-width: 320px;
		right: -86px;
	}
	.cart-content__btn {
		width: 200px;
	}
}

/* modal */

.order-modal {
	padding: 40px;
	width: 592px;
	min-height: 542px;
}

.order-modal__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-modal__title {
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: var(--color-accent);
}

.order-modal__number {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: var(--color-light);
}

.order-modal__info {
	margin-bottom: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 34px 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: var(--color-light);
}

.order-modal__info span {
	font-weight: 600;
}

.order-modal__info-item:not(:last-child) {
	margin-bottom: 15px;
}

.order-modal__btn {
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: var(--color-light);
}

.order-modal__btn::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 7px;
	height: 7px;
	background-image: url("../img/arrow-down.svg.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.order-modal__btn.open::after {
	transform: translateY(-50%) rotate(180deg);
}

.order {
	padding: 0 40px;
}

.order__label {
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-light);
}

.order__input {
	padding-left: 14px;
	padding-right: 14px;
	width: 240px;
	height: 45px;
	background: #efefef;
	border-radius: 4px;
	border: none;
}

.order__input::placeholder {
	color: #b1b1b1;
}

.order-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-modal__list {
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-product__img {
	max-width: 60px;
	max-height: 60px;
	object-fit: cover;
	margin-right: 10px;
}

.order-modal__list {
	display: none;
}

.order-modal__item:not(:last-child) {
	margin-bottom: 14px;
}

.order-product__text {
	margin-right: 10px;
}

.order-product__title {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: var(--color-dark);
}

.order-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color-dark);
}

.order-product__delete {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: var(--color-light);
}
@media (max-width: 767.98px) {
	.modal__container.modal-open {
		max-width: 100%;
		padding: 20px;
	}
	.order-form.order {
		padding: 0px;
	}
	
}
/* info-block */
.info-block {
	margin-top: 40px;
}
.info-block__container {
}
.info-block__tabs {
}
.info-block__tabs-nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.info-block__tabs-btn {
	padding: 5px 10px;
	display: flex;
    font-weight: 400;
	font-size: 18px;
	line-height: 22px;
    background-color: transparent;
	transition: color 0.3s ease-in-out;
}
.info-block__tabs-btn:hover {
	cursor: pointer;
	color: #009EFF;
}
.info-block__tabs-btn.active {
	color: #009EFF;
}
.info-block__tabs-content {
   margin-top: 40px;
}
.info-block__tabs-item {
    display: none;
	justify-content: space-between;
	align-items: start;
	gap: 10px;
}
.info-block__tabs-item.active {
    display: flex;
}
.content-tabs {
	max-width: 450px;
	
}
.content-tabs__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #323941;
	text-transform: uppercase;
}

.info-block__img {
}

@media (max-width: 767.98px) {
	.tabs-item__text {
		font-size: 14px;
	}
}
@media (max-width: 589.98px) {
	.info-block__tabs-nav {
		gap: 30px;
	}
	.tabs-item__text {
		display: none;
	}
	.info-block__tabs-item {
		text-align: center;
		align-items: center;
		flex-direction: column;
		row-gap: 40px;
	}
	.info-block__img {
		order: 1;
	}
	.info-block__tabs-btn {
		transition: background-color 0.3s ease-in-out
	}
	.info-block__tabs-btn.active {
		background-color: #ede9e9f5;
		border-radius: 10px;
	}
}

/* parking-list */
.packing-list {
	margin-top: 120px;
}
.packing-list__container {
}
.packing-list__body {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.packing-list__item {
	flex: 0 1 50%;
}
.packing-list__title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 50px;
	line-height: 119.3%;
	text-transform: uppercase;
	color: #323941;
}
.packing-list__video {
	position: relative;
	max-width: 488px;
	min-height: 280px;
}
.packing-list__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.packing-list__image {
	background-color: #009EFF;
	border-radius: 50%;
}
.packing-list__image img {
	max-width: 100%;
}

@media (max-width: 767.98px) {
	.packing-list__body {
		flex-direction: column;
	}
	.packing-list__title {
		text-align: center;
		font-size: 35px;
	}
	.packing-list__video {
		max-width: 100%;
		height: 100%;
	}
	.packing-list__image {
		margin: 0 auto;
		max-width: 500px;
	}
}

@media (max-width: 479.98px) {
	.packing-list__title {
		font-size: 26px;
		line-height: 32px;
	}
}

/* features */

.features {
	margin-top: 120px;
}

.features__img {
}
.features__img img {
	width: 100%;
}
.features__title {
	margin-top: 60px;
	font-weight: 700;
	font-size: 50px;
	line-height: 119.3%;
	text-transform: uppercase;
	text-align: center;
	color: #323941;
}
.features__items {
	margin-top: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 30px;
}
.features__item {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 200px;
}
.item-features {
}
.item-features__image img {
	width: 100px;
	height: 100px;
}
.item-features__title {
	margin-top: 10px;
	font-weight: 300;
	font-size: 35px;
	line-height: 43px;
	text-transform: uppercase;
	color: #1a9aef;
}
.item-features__text {
	margin-top: 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #999;
}
@media (max-width: 767.98px) {
	.features__title {

		font-size: 35px;
	}
	.item-features__title {
		font-size: 25px;
	}
	.features__item {
		width: 139px;
	}
}
@media (max-width: 479.98px) {
	.features__items {
		margin-top: 40px;
	}
	.features__title {
		font-size: 26px;
		line-height: 32px;
	}
	.item-features__title {
		margin-top: 0;
		font-size: 18px;
	}
	.features__item {
		width: 139px;
	}
	.item-features__text {
		margin-top: 0;
		font-size: 12px;
	}
	.features__item {
		width: 93px;
	}
}

/* overview */
.overview {
	margin-top: 120px;
}
.overview__container {
}
.overview__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #323941;
}
.overview__title span {
	font-weight: 700;
	font-size: 18px;
	line-height: 119.3%;
	color: #009EFF;
}
.overview__body {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	
}
.overview__image {
}
.overview__content {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #999999;
}
@media (max-width: 767.98px) {
	.overview__body {
		margin-top: 30px;
		position: relative;
	}
	.overview__content {
		position: absolute;
		top: 0;
		left: 50%;
		font-weight: 300;
		font-size: 16px;
		line-height: 18px;
	}
}
@media (max-width: 419.98px) {
	.overview__content {
		left: 35%;
	}
	.overview__title {
		font-size: 24px;
    	line-height: 32px;
	}
	.overview__title span {
		font-size: 16px;
	}
	.overview__body {
		margin-top: 10px;
	}
}

/* equipment */
.equipment {
}
.equipment__body {
}
.equipment__row {
	background-color: #0E0E16;
}
.equipment__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	background-color: #fff;
}
.equipment__item-blue {
	background-color: #0E0E16;
}
.equipment__content {
	padding: 10px;
	max-width: 600px;
	width: 100%;
	color: #fff;
    margin: 0 auto;
	text-transform: uppercase;
}
.equipment__content-black {
	color: #10131B;
}
.equipment__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 119.3%;
}
.equipment__text {
	margin-top: 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}
.equipment__text p {
	margin-top: 10px;
}
.equipment__image img{
	max-width: 100%;
}
.equipment__item-center {
	margin-top: 70px;
	display: block;
	text-align: center;
}
.equipment__content-center {
	
}

@media (max-width: 767.98px) {
	.equipment__item {
		flex-direction: column;
	}
	.equipment__content {
		order: 2;
	}
	.equipment__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 24px;
	}
	.equipment__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.02em;
	}
	.equipment__item-center {
		margin-top: 30px;
	}
}
@media (max-width: 479.98px) {
	.equipment__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}
	.equipment__text {
		font-weight: 300;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.02em;
	}
}


/* btn anim */
.btn-top {
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 50;
    width: 60px;
    height: 60px;
    background: url(../img/arrow-top.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* transform: rotate(90deg); */
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border: none;
  }

  @media (max-width: 519.98px) {
    .btn-top {
        right: 10px;
    }
  }

  /* animation */
  .box {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .box:nth-of-type(even) {
    transform: translateX(-200%);
  }
  
  .box.show {
    transform: translateX(0);
  }